{%extends "navbar.html"%}{% load static %}{%block title%} Asignaturas
{%endblock%} {% block content %}

<h2 class="barlow-extrabold" style="font-size: 56px; padding: 49px 0 0 80px">
  Asignaturas
</h2>
<div class="d-flex justify-content-end mb-5" style="padding-right: 127px">
  <div class="dropdown">
    <button
      class="btn custom-dropdown barlow-semibold"
      type="button"
      data-bs-toggle="dropdown"
      aria-expanded="false"
      id="filtroSemestre"
    >
      Semestre
      <i class="fa-solid fa-chevron-down"></i>
    </button>
    <ul class="dropdown-menu custom-dropdown-menu">
      <li>
        <a
          class="dropdown-item barlow-semibold"
          href="{% url 'filtrar_asignaturas' %}"
          >Todos</a
        >
      </li>
      {% for semestre in semestres %}
      <li>
        <a
          class="dropdown-item barlow-semibold"
          href="{% url 'filtrar_asignaturas' %}?semestre={{ semestre.id_semestre }}"
          >{{ semestre.nombre }}</a
        >
      </li>
      {% endfor %}
    </ul>
  </div>
</div>
<div class="container">
  {% for asignaturas in lista_asignaturas %}
  <!-- si es el primer documento en resultados -->
  {% if forloop.first %}
  <div class="row">
    {% for asignatura in asignaturas %}
    <div class="col-3" style="float: none; margin: 0 auto">
      <div class="col">
        <a
          href="{% url 'ApuntesAsignaturas' asignatura.id_asignatura %}"
          class="btn"
        >
          <div class="card card-subject">
            <div class="card-body row">
              <div class="col text-center align-self-center">
                <h5 class="card-subject-title">{{asignatura.nombre}}</h5>
              </div>
            </div>
          </div>
        </a>
      </div>
    </div>
    {% endfor %}
  </div>
  {% elif forloop.last %}
  <div class="row" style="margin-top: 98px; margin-bottom: 70px">
    {% for asignatura in asignaturas %}
    <div class="col-3" style="float: none; margin: 0 auto">
      <div class="col">
        <a
          href="{% url 'ApuntesAsignaturas' asignatura.id_asignatura %}"
          class="btn"
        >
          <div class="card card-subject">
            <div class="card-body row">
              <div class="col text-center align-self-center">
                <h5 class="card-subject-title">{{asignatura.nombre}}</h5>
              </div>
            </div>
          </div>
        </a>
      </div>
    </div>
    {% endfor %}
  </div>
  {% else %}
  <div class="row" style="margin-top: 98px">
    {% for asignatura in asignaturas %}
    <div class="col-3" style="float: none; margin: 0 auto">
      <div class="col">
        <a
          href="{% url 'ApuntesAsignaturas' asignatura.id_asignatura %}"
          class="btn"
        >
          <div class="card card-subject">
            <div class="card-body row">
              <div class="col text-center align-self-center">
                <h5 class="card-subject-title">{{asignatura.nombre}}</h5>
              </div>
            </div>
          </div>
        </a>
      </div>
    </div>
    {% endfor %}
  </div>

  {% endif %} {% endfor %}
</div>
{%endblock%}
