{%extends "navbar.html"%}{%load static%} {% load static %}{%block title%}
Asignaturas {%endblock%} {% block content %}
<div class="row">
  <div class="col-6">
    <h2
      class="barlow-extrabold"
      style="font-size: 56px; padding: 49px 0 49px 80px"
    >
      Asignaturas
    </h2>
  </div>
  <div class="col-6 text-end align-self-center" style="padding-right: 127px">
    <div class="dropdown">
      <button
        class="btn custom-dropdown barlow-semibold"
        type="button"
        data-bs-toggle="dropdown"
        aria-expanded="false"
      >
        Semestre
        <i class="fa-solid fa-chevron-down"></i>
      </button>
      <ul class="dropdown-menu custom-dropdown-menu">
        <li>
          <a class="dropdown-item barlow-semibold" href="#">1er Semestre</a>
        </li>
        <li>
          <a class="dropdown-item barlow-semibold" href="#">2do Semestre</a>
        </li>
        <li>
          <a class="dropdown-item barlow-semibold" href="#">3er Semestre</a>
        </li>
        <li>
          <a class="dropdown-item barlow-semibold" href="#">4to Semestre</a>
        </li>
      </ul>
    </div>
  </div>
</div>
<div class="container">
  <div class="row">
    <div class="col-3" style="float: none; margin: 0 auto">
      <div class="col">
        <a href="#" class="btn">
          <div class="card card-subject">
            <div class="card-body row">
              <div class="col-3 text-center align-self-center">
                <i
                  class="fa-solid fa-calculator fa-2xl"
                  style="font-size: 50px"
                ></i>
              </div>
              <div class="col text-center align-self-center">
                <h5 class="card-title">Introducción al Cálculo</h5>
              </div>
            </div>
          </div>
        </a>
      </div>
    </div>
    <div class="col-3" style="float: none; margin: 0 auto">
      <div class="col">
        <a href="#" class="btn">
          <div class="card card-subject">
            <div class="card-body row">
              <div class="col-3 text-center align-self-center">
                <i
                  class="fa-solid fa-infinity fa-2xl"
                  style="font-size: 50px"
                ></i>
              </div>
              <div class="col text-center align-self-center">
                <h5 class="card-title">Introducción al Álgebra</h5>
              </div>
            </div>
          </div>
        </a>
      </div>
    </div>
    <div class="col-3" style="float: none; margin: 0 auto">
      <div class="col">
        <a href="#" class="btn">
          <div class="card card-subject">
            <div class="card-body row">
              <div class="col-3 text-center align-self-center">
                <i class="fa-solid fa-dove fa-2xl" style="font-size: 50px"></i>
              </div>
              <div class="col text-center align-self-center">
                <h5 class="card-title">Biología</h5>
              </div>
            </div>
          </div>
        </a>
      </div>
    </div>
  </div>
  <div class="row" style="margin-top: 98px">
    <div class="col-3" style="float: none; margin: 0 auto">
      <div class="col">
        <a href="#" class="btn">
          <div class="card card-subject">
            <div class="card-body row">
              <div class="col-3 text-center align-self-center">
                <i
                  class="fa-solid fa-magnet fa-2xl"
                  style="font-size: 50px"
                ></i>
              </div>
              <div class="col text-center align-self-center">
                <h5 class="card-title">Introducción a la Física Clásica</h5>
              </div>
            </div>
          </div>
        </a>
      </div>
    </div>
    <div class="col-3" style="float: none; margin: 0 auto">
      <div class="col">
        <a href="#" class="btn">
          <div class="card card-subject">
            <div class="card-body row">
              <div class="col-3 text-center align-self-center">
                <i class="fa-solid fa-atom fa-2xl" style="font-size: 50px"></i>
              </div>
              <div class="col text-center align-self-center">
                <h5 class="card-title">Introducción a la Física Moderna</h5>
              </div>
            </div>
          </div>
        </a>
      </div>
    </div>
    <div class="col-3" style="float: none; margin: 0 auto">
      <div class="col">
        <a href="#" class="btn">
          <div class="card card-subject">
            <div class="card-body row">
              <div class="col-3 text-center align-self-center">
                <i class="fa-solid fa-code fa-2xl" style="font-size: 50px"></i>
              </div>
              <div class="col text-center align-self-center">
                <h5 class="card-title">Introducción a la Programación</h5>
              </div>
            </div>
          </div>
        </a>
      </div>
    </div>
  </div>
  <div class="row" style="margin-top: 98px">
    <div class="col-3" style="float: none; margin: 0 auto">
      <div class="col">
        <a href="#" class="btn">
          <div class="card card-subject">
            <div class="card-body row">
              <div class="col-3 text-center align-self-center">
                <i
                  class="fa-solid fa-chart-simple fa-2xl"
                  style="font-size: 50px"
                ></i>
              </div>
              <div class="col text-center align-self-center">
                <h5 class="card-title">Cálculo Diferencial e Integral</h5>
              </div>
            </div>
          </div>
        </a>
      </div>
    </div>
    <div class="col-3" style="float: none; margin: 0 auto">
      <div class="col">
        <a href="#" class="btn">
          <div class="card card-subject">
            <div class="card-body row">
              <div class="col-3 text-center align-self-center">
                <i
                  class="fa-solid fa-plus-minus fa-2xl"
                  style="font-size: 50px"
                ></i>
              </div>
              <div class="col text-center align-self-center">
                <h5 class="card-title">Álgebra Lineal</h5>
              </div>
            </div>
          </div>
        </a>
      </div>
    </div>
    <div class="col-3" style="float: none; margin: 0 auto">
      <div class="col">
        <a href="#" class="btn">
          <div class="card card-subject">
            <div class="card-body row">
              <div class="col-3 text-center align-self-center">
                <i
                  class="fa-solid fa-chart-line fa-2xl"
                  style="font-size: 50px"
                ></i>
              </div>
              <div class="col text-center align-self-center">
                <h5 class="card-title">EDO</h5>
              </div>
            </div>
          </div>
        </a>
      </div>
    </div>
  </div>
  <div class="row" style="margin-top: 98px; margin-bottom: 70px">
    <div class="col-3" style="float: none; margin: 0 auto">
      <div class="col">
        <a href="#" class="btn">
          <div class="card card-subject">
            <div class="card-body row">
              <div class="col-3 text-center align-self-center">
                <i
                  class="fa-regular fa-lightbulb fa-2xl"
                  style="font-size: 50px"
                ></i>
              </div>
              <div class="col text-center align-self-center">
                <h5 class="card-title">CAA</h5>
              </div>
            </div>
          </div>
        </a>
      </div>
    </div>
    <div class="col-3" style="float: none; margin: 0 auto">
      <div class="col">
        <a href="#" class="btn">
          <div class="card card-subject">
            <div class="card-body row">
              <div class="col text-center align-self-center">
                <h5 class="card-title">Electromagnetismo</h5>
              </div>
            </div>
          </div>
        </a>
      </div>
    </div>
    <div class="col-3" style="float: none; margin: 0 auto">
      <div class="col">
        <a href="#" class="btn">
          <div class="card card-subject">
            <div class="card-body row">
              <div class="col-3 text-center align-self-center">
                <i
                  class="fa-solid fa-temperature-three-quarters fa-2xl"
                  style="font-size: 50px"
                ></i>
              </div>
              <div class="col text-center align-self-center">
                <h5 class="card-title">Termodinámica</h5>
              </div>
            </div>
          </div>
        </a>
      </div>
    </div>
  </div>
</div>
{%endblock%}
